<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="form-signin">
            <form action="" autocomplete="off">
                <div class="text-center mb-4">
                    <h3 class="mb-3 fw-bold">ĐĂNG NHẬP</h3>
                </div>
                
                <div class="form-floating mb-3">
                    <input type="email" id="email" class="form-control" appAutoFocus>
                    <label for="email">Email</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" id="password" class="form-control">
                    <label for="password">Mật khẩu</label>
                </div>

                <div class="d-grid mt-4 px-">
                    <button class="btn btn-lg btn-info" type="submit"> Đăng nhập </button>
                </div>
            </form>

            <div class="mt-4 text-center">
                <a class="btn btn-link">Quên mật khẩu</a>
            </div>
        </main>
    </div>
</div>